<h1>edit deck</h1>
<input type="text" class="form-control">

<div ng-repeat="card in deckEditCtrl.cards|
             filter:deck.filter"
        >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <h2>{{card.title}}</h2>

                </div>
                <textarea ng-model="card.title"></textarea>
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div mathjax-bind="card.text"></div>
                </div>
                <textarea ng-model="card.text"></textarea>
            </div>
        </div>
    </div>
</div>