/* 
    Created on : Dec 23, 2014, 7:49:44 PM
    Author     : 1mike12
*/
html {
  font-family: helvetica; }

body {
  margin: 0px;
  padding: 0px; }

header {
  height: 40px;
  background-color: #4288CE; }

.card {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  min-height: 100px;
  font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
  margin: 0 auto 10px;
  padding: 20px;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, white)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, white 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, white 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, white 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, white 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, white 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px; }

.cardRow {
  padding: 15px; }
  .cardRow:hover {
    background-color: #ffffcc; }
  .cardRow .glyphicon {
    font-size: 20px;
    cursor: pointer; }

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000; }

/* flip the pane when hovered */
.flip-container.flipped .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 480px;
  height: 300px; }

/* flip speed goes here */
.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg); }

.flipHint {
  position: absolute;
  bottom: 15px;
  right: 15px; }

.toggleEdit {
  position: absolute;
  top: 15px;
  right: 15px; }
